
html, body {
    height: auto;
    margin: 0rem;
   
}

body {
    background: linear-gradient(to bottom, #f0f0f0, #333333); /* Cambia los colores según tus preferencias */
    color: #ffffff; /* Color del texto en el cuerpo, ajusta según sea necesario */
    font-family: Arial, sans-serif; /* Ajusta la fuente según tus preferencias */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-size: 100% 100vh; /* Ajusta el tamaño del fondo para ocupar toda la página */
    align-items: center;
    justify-content: center;
}


.custom-navbar {
    
    background-color: #808080; /* Color de fondo gris */
    border-radius: 10px; /* Bordes redondeados */
    position: fixed;
}

.custom-navbar .navbar-nav .nav-link {
    border-radius: 20px; /* Bordes redondeados para los botones */
    color: #ffffff; /* Color del texto */
}

.custom-navbar .navbar-nav .nav-link:hover {
    background-color: #ffd700; /* Color amarillo arena al pasar el mouse */
    color: #000000; /* Cambia el color del texto al pasar el mouse */
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #6d6c6c);
    color: #ffffff;
    height: 100%;
}

header {
    padding: 20px; /* Ajusta el espaciado interno según tus preferencias */
    
    
}

.header-container {
    max-width: 100%; /* Ajusta el ancho máximo del contenedor según tus preferencias */
    margin: 0 auto; /* Centra el contenedor en la página */
    height: 13rem; /* Altura fija del contenedor */
    overflow: hidden; /* Oculta cualquier contenido que supere la altura del contenedor */
}

.header-container img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: 100%; /* La altura será el 100% del alto del contenedor (20px) */
    object-fit: cover; /* Ajusta la forma de llenar el contenedor manteniendo la proporción */
    border-radius: 10px; /* Bordes redondeados para la imagen, ajusta según sea necesario */
}
/* Estilos específicos para los elementos dropdown-toggle */
.navbar-nav .nav-item.dropdown:hover .nav-link {
    background-color: #ffd700;
    color: #000000;
    
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #808080;
}

.navbar-nav .nav-item.dropdown .dropdown-item {
    color: #ffffff;
}

.navbar-nav .nav-item.dropdown .dropdown-item:hover {
    background-color: #ffd700;
    color: #000000;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .contacto {
    display: flex;
    align-items: center;
  }

  .contacto img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }