body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around; /* Para centrar los elementos en la línea */
  width: 100%; /* Asegura que la línea ocupe todo el ancho de la página */
}

.section {
  width: 20%; /* Cada sección ocupa el 20% del ancho de la página */
  text-align: center; /* Centra el texto dentro de la sección */
}

.zoomable {
  max-width: 100%; /* Ajusta la imagen al ancho de su contenedor (20%) */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  display: block; /* Elimina el espacio extra debajo de las imágenes */
  margin: 0 auto; /* Centra la imagen dentro de su contenedor */
}