.container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
}

.column {
    flex: 1;
    padding: 20px;
}

.text-column {
    /* Sin fondo */
}

.image-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.custom-image {
    max-width: 15rem;
    height: auto;
    margin-bottom: 10px;
    /* Agrega cualquier estilo adicional que desees aplicar solo a estas imágenes */
}
.custom-text {
    font-style: italic; /* Aplica cursiva a la fuente */
    font-size: 1.45em; 
}