

  
  #miTexto,
  #miImagen {
    width: 30%;
    padding: 2rem; /* Ajusta según tus necesidades */
   
    border-radius: 1rem; /* Ajusta según tus necesidades */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #miImagen img {
    max-width: 100%; /* La imagen no sobresaldrá de la caja */
    height: auto;    /* Mantiene la proporción de la imagen */
  }
  #miTextoParrafo {
    font-family: 'Courier New', monospace; /* Cambia la fuente a Courier New */
    font-weight: bold; /* Hace el texto un poco más negrito */
    font-size: 1.2em; /* Ajusta el tamaño de la fuente según tus necesidades */
    font-style: italic; /* Inclina la fuente */
  }